*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/cork.png);
    font-family: "Dancing Script", cursive;
    background-size: 50%;
}

/* Regole CSS header e titolo */
header{
    background-image: url(../img/wall.png);
    font-family: "Edu TAS Beginner", cursive;
    background-size: 50%;
    padding: 20px 0;
}

h1{
    font-size: 4rem;
    text-align: center;
}

/* Regole container e card */
.container{
    max-width: 900px;
    margin: auto;
    padding: 40px 0;
}

/* Regole container responsive */
@media screen and (max-width: 970px){
    .container {
        max-width: 700px;
    }
}


@media screen and (max-width: 700px){ 
    .container{
        max-width: 400px;
    }
}

.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card{
    width: calc((300px) - (50px / 3));
    background-color: white;
    border: 10px solid white;
    position: relative;
    box-shadow: 1px 1px 5px black;
    transition: 0.3s ease;
}

/* Regole immagini e scritte */
img{
    width: 100%;
}

.pin{
    position: absolute; 
    width: 1.8rem;
    left: 50%;
    top: -25px;
    transform: translateX(-50%);
}

p{
    font-size: 2rem;
}

/* Regole Hover */
.card:hover{
    transform: rotate(10deg) scale(1.05);
    z-index: 10;
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
}

.card:nth-child(2):hover{
    transform: rotate(-10deg) scale(1.05);
}

.card:nth-child(4):hover{
    transform: rotate(-10deg) scale(1.05);
}

.card:nth-child(6):hover{
    transform: rotate(-10deg) scale(1.05);
}

.card:hover .pin{
    display: none;
}

/* Regole overlay */
.overlay-container{
    display: none;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 999;
    text-align: center;
}

.overlay-container img{
    display: block;
    width: 600px;
    height: 600px;
    margin: auto;
    border: 5px solid white;
    box-shadow: 0 0 50px black;
    color: white;
    transition: 0.3s ease;
}

/* Overlay responsive */
@media screen and (max-width: 700px){
    .overlay-container img{
        width: 400px;
        height: 400px;
    }
}

/* Regole Bottone */
.close-btn{
    margin: 20px 0;
    padding: 15px 15px;
    cursor: pointer;
    transition: 0.3s ease;
    box-shadow: 4px 4px 10px black, -2px -2px 5px rgba(255, 255, 255, 0.511);
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    color: rgba(255, 255, 255, 0.657);
    background-color: rgba(0,0,0,0.0);
}

.close-btn:hover{
    box-shadow: inset 4px 4px 10px black, inset -2px -2px 5px rgba(255, 255, 255, 0.651);  
}

@media screen and (max-width: 700px){
    .close-btn{
        padding:2px 15px;
    }
    i{
        font-size: 1.2rem;
        margin-bottom: 15px;
    }
}